<footer>
  <div class="row v-align-middle">
    <div class="col-sm-4 contact">
      <ul>
        <li><span>{{ 'footer.skHeadline' | translate}}</span></li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>  {{ 'footer.skEmail' | translate}}</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{ 'footer.skPhone' | translate}}">{{ 'footer.skPhone' | translate}}</a></li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{ 'footer.skAddress' | translate}}</li>

      </ul>
    </div>
    <div class="col-sm-4 contact">
      <ul>
        <li><span>{{ 'footer.intHeadline' | translate }}</span></li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>  {{ 'footer.intEmail' | translate}}</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:{{ 'footer.intPhone' | translate}}"> {{ 'footer.intPhone' | translate}}</a></li>
      </ul>
    </div>
    <div class="col-sm-2 display-only">
      <ul class="social-icons">
        <li class="social white"><a href="http://instagram.com/gautamagroup"><i class="fa fa-3x fa-instagram" aria-hidden="true"></i></a></li>
        <li class="social white"><a href="https://www.facebook.com/GautamaGroup/?fref=ts"><i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-2 display-only">
      <ul  class="menu pull-right">
        <li><span>Menu</span></li>
        <li><a routerLink="/home">{{'menu.home' | translate}}</a></li>
        <li><a routerLink="/about">{{'menu.about' | translate}}</a></li>
        <li><a routerLink="/products">{{'menu.products' | translate}}</a></li>
        <li><a routerLink="/contact">{{'menu.contact' | translate}}</a></li>
        <li><a routerLink="/gautama">{{'menu.gautama' | translate}}</a></li>
      </ul>
    </div>
  </div>
</footer>
