<div id="scrollspy" class="col-sm-2 pull-left ">
  <ul class="nav display-only">
    <li *ngFor="let product of products" class="pull-left"><a data-scroll href="#paper{{product.id}}"><i class="fa fa-circle" aria-hidden="true"></i> {{product.name}}</a></li>
  </ul>
</div>

<div id="product-intro" class="intro container-fluid">
    <img class="logoproduct img-responsive" src="../../assets/images/coverlogo.png">
    <p>Rolling papers & smoking accessories</p>
</div>

<div *ngFor=" let product of products" id="paper{{product.id}}" class="product-section container-fluid shadow-h">
  <div class='olay'><p class="r-headline">Coming soon...</p></div>
  <div class="row v-align-middle">
    <div class="col-sm-offset-2 col-sm-6 product-description">
      <h2>{{product.name}}</h2>
      <span translate>{{product.description}}</span>
    </div>
    <div class="col-sm-4 illustration ">
      <img class="img-responsive" alt="{{product.name}}" src="../../assets/images/{{product.img}}"/>
    </div>
  </div>
</div>

