<div id="intro" class="intro container-fluid">
  <img class="logo img-responsive" src="../../assets/images/coverlogo.png">
  <p>Rolling papers & smoking accessories</p>
</div>

<div  id="about" class="container-fluid shadow-h">
  <div class="row v-align-middle">
    <div class="col-sm-12 about">
      <div class="col-sm-7 about-text">
        <p class="r-headline">{{'home.s1headline' | translate}}</p>
        <p>{{'home.s1text' | translate}}</p>
        <img class="img-responsive" alt="gautama rolling papers" src="../../assets/images/product1.png"/>
      </div>
      <div class="col-sm-4 illustration display-only">
        <img class="img-responsive" alt="joint" src="../../assets/images/joint.png"/>
      </div>
    </div>
  </div>
</div>

<div  id="productDescription" class="container-fluid shadow-h">
  <div class="row v-align-middle">
    <div class="col-sm-6 illustration pull-left">
      <img class="img-responsive" alt="gautama rolling papers" src="../../assets/images/product2.png"/>
    </div>
    <div class="col-sm-6 about-text">
      <div class="green">
        <h2>{{'home.s2headline1' | translate}}</h2>
        <p>{{'home.s2text1' | translate}}</p>
      </div>
      <div class="brown">
        <h2>{{'home.s2headline2' | translate}}</h2>
        <p>{{'home.s2text2' | translate}}</p>      </div>
      <div class="grey">
        <h2>{{'home.s2headline3' | translate}}</h2>
        <p>{{'home.s2text3' | translate}}</p>      </div>
    </div>
  </div>
</div>

